<ul class="vertical-list1">
	<li><%= link_to "Iniciar Sesión", login_path, :class => 'butt0n' %></li>
	<li><%= link_to "Registrarse", signup_path, :class => 'butt0n' %></li>
</ul>


<ul class="vertical-list">
    <li><a href='' class='butt0n'>Qué es WitCRM ?</a></li>
    <li><a href='' class='butt0n'>Cómo utilizar <br> WitCRM ? </a></li>
    <li><a href='' class='butt0n'> Acerca de </a></li>
    <li><a href='' class='butt0n'> Misión </a></li>
    <li><a href='' class='butt0n'> Visión </a></li>
</ul>

