<ul class="vertical-list1">
	<li><%= link_to "Loguin", login_path, :class => 'button' %></li>
	<li><%= link_to "Registro", signup_path, :class => 'button' %></li>
</ul>


<ul class="vertical-list">
    <li><a href='' class='button'>Acerca De</a></li>
    <li><a href='' class='button'>Our Studio</a></li>
    <li><a href='' class='button'>Portfolio</a></li>
    <li><a href='' class='button'>Our Team</a></li>
    <li><a href='' class='button'>Get in Touch</a></li>
</ul>

