<ul class="vertical-list1">
	<li><%= link_to "Iniciar Sesión", login_path, :class => 'button' %></li>
	<li><%= link_to "Registrarse", signup_path, :class => 'button' %></li>
</ul>


<ul class="vertical-list">
    <li><a href='' class='button'>Qué es WitCRM ?</a></li>
    <li><a href='' class='button'>Cómo utilizar <br> WitCRM ? </a></li>
    <li><a href='' class='button'> Acerca de </a></li>
    <li><a href='' class='button'> Misión </a></li>
    <li><a href='' class='button'> Visión </a></li>
</ul>

