<%- model_class = Departamento-%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='gen'>
  <p><b>Id:</b> <%= @departamento.id %></p>
  <p><b>Nombre:</b> <%= @departamento.nombre %></p>
</div>

<td><%= link_to image_tag("pdf.png"), departamento_path(@departamento, :format => "pdf") %></td>

