<%- model_class = Obsequio-%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='obsequio'>
  <p><b>Id:</b> <%= @obsequio.id %></p>
  <p><b>Descripción:</b> <%= @obsequio.descripcion %></p>
  
 
</div>

<td><%= link_to image_tag("pdf.png"), obsequio_path(@obsequio, :format => "pdf") %></td>
