<%- model_class = Preferencia -%>
<div class="page-header">
  <h1>Preferencias de <%= @huesped.primer_nombre %></h1>
</div>

<div class='gen'>
  <p><b>Id:</b> <%= @preferencia.id %></p>
  <p><b>Tipo De Habitación:</b> <%= @preferencia.tiposdehabitacion_id %></p>

</div>

<br>
<%= link_to "pdf", huesped_preferencia_path(@preferencia, :format => "pdf"), :class => 'btn' %>