<%- model_class = Sugerenciasyqueja -%>
<div class="page-header">
  <h1>Sugerencias Y Quejas</h1>
</div>

<div class='gen'>
  <p><b>Id:</b> <%= @sugerenciasyqueja.id %></p>
  <p><b>Nombre:</b> <%= @sugerenciasyqueja.huesped_primer_nombre %></p>
  <p><b>Comentarios:</b> <%= @sugerenciasyqueja.comentarios_ultima_visita %></p>
  
</div>

<br>
<%= link_to "pdf", sugerenciasyqueja_path(@sugerenciasyqueja, :format => "pdf"), :class => 'btn' %>
