<%- model_class = Tiposdehabitacion -%>
<div class="page-header">
  <h1>Tipos De Habitaciones</h1>
</div>

<div class='gen'>
  <p><b>Id:</b> <%= @tiposdehabitacion.id %></p>
  <p><b>Descripción:</b> <%= @tiposdehabitacion.descripcion %></p>
  <p><b>Habitación con tina:</b> <%= @tiposdehabitacion.habitacion_tina %></p>
  <p><b>Piso:</b> <%= @tiposdehabitacion.piso %></p>
  
</div>
