<%= simple_form_for([@huesped, @telefono], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>


  <%= f.input :numero_telefonico, :label => "Numero telefonico" %>
  
 
   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>

  </div>
<% end %>
