<%- model_class = Cortesia -%>
<div class="page-header">
  <h1>Cortesias</h1>
</div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th> Huesped </th>
      <th> Botella de vino </th>
      <th> Otro regalo </th>
      <th>Tabla de queso </th>
      <th>Alimento</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @cortesias %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nueva Cortesia', new_cortesia_path, :remote => true %></td>
    </tr>
  </tfoot>
</table>