<%- model_class = Alimento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='gen'>
  <p><b>Id:</b> <%= @alimento.id %></p>
  <p><b>Descripción:</b> <%= @alimento.descripcion %></p>
</div>
<br>
<%= link_to "pdf", alimento_path(@alimento, :format => "pdf"), :class => 'btn' %>